header{
    text-align: center;
    color: rgb(11, 11, 11);
    background-color: rgba(58, 180, 123, 0.765);
    padding: 4%;
    margin: 3px;
}

h1{
    text-align: center;
    
    color: rgb(29, 26, 22);
  
}
h2{
    text-align: left;
}


.product { 
    height: auto;
    width: auto;
    margin: auto;
    padding: auto;
    color: rgb(29, 21, 21);
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    
}


button{
    background-color: rgb(98, 240, 103);
    color: rgb(3, 4, 3);
    margin: auto;
    padding: 10px;  

}

img {
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) ;
    cursor:pointer;
    height: auto;
    width:200px;
    
    
}
footer{
    text-align: center;
    background-color:  rgba(246, 138, 183, 0.765);
    padding: 4%;
    margin: 10px;
}