header{
    color: beige;
}

h1{
    text-align: center;
    
    color: rgb(29, 26, 22);
  
}
h2{
    text-align: center;
}


.product{ 
margin: auto;
padding: auto;
color: rgb(29, 21, 21);
align-items: center;
    

}

button{
    background-color: rgb(46, 197, 101);
    color: rgb(238, 239, 237);
    margin: auto;
    padding: auto;  

}

img {
    transition: 5ms;
     cursor:zoom-in;
     
}
footer{
    text-align: center;
    background-color: blanchedalmond;
    padding: 40px;
}